/* Responsive */
$breakpoints: (
  tablet: 640px,
  desktop: 1024px,
  highres: 1280px
);

/* Misc */
$ease: 0.2s !default;
$space: 24px !default;
$radius: 2px !default;
$shadow: rgba(0, 0, 0, 0.1) 0 1px 1px 0 !default;
$hover: rgba(0, 0, 0, 0.2) 0 1px 10px 0 !default;

// display
.block {
  display: block;
}

.hidden {
  display: none!important;
}

// position
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}