/* Responsive */
$breakpoints: (
  tablet: 640px,
  desktop: 1024px,
  highres: 1280px
);

/* Misc */
$ease: 0.2s !default;
$space: 24px !default;
$radius: 2px !default;
$shadow: rgba(0, 0, 0, 0.1) 0 1px 1px 0 !default;
$hover: rgba(0, 0, 0, 0.2) 0 1px 10px 0 !default;

/* Layout */
$header: 80px;
$navbar: 55px;
$panel: 30%;
$wrapper: 768px;
$overlay: 480px;
$thumbnail: 150px;

/* Colors */
$apron-green: #00A862;
$red: #e75b52;
$natural-grey: #f7f7f7;
$ceramic: #EDEBE9;
$cream: #F3F1E7;
$green: #00653E;
$gold: #C2A661;
$warm-black: #2D2926;
$warmer-black: #3D3935;
$welcome-grey: #e0e0e0;
$light-yellow: #efebe8;

$white: #FFF;
$white-1: $white;
$white-2: rgba(255,255,255,0.7);
$white-3: rgba(255,255,255,0.5);
$white-4: rgba(255,255,255,0.3);
$white-5: rgba(255,255,255,0.12);

$black: #000;
$black-1: $black;
$black-2: rgba(0,0,0,0.87);
$black-3: rgba(0,0,0,0.56);
$black-4: rgba(0,0,0,0.38);
$black-5: rgba(0,0,0,0.26);
$black-6: rgba(0,0,0,0.12);
$ms-black-6: #edebe9;
$black-7: rgba(0,0,0,0.05);